ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
}

h2 {
	font-size: 26px;
	color: #124478;
	font-weight: normal;
}

h3 {
	font-size: 24px;
	font-family: Playfair Display;
	font-style: italic;
	font-weight: normal;
}

ul {
	margin-left: -40px;
}

p {
	font-family: Open Sans;
	font-size: 15px;
	color: #747474;
	margin: 0;
}

ul {
	color: #747474;
}

footer a {
	color: #184578;
}